<h3>Результати голосування</h3>

<table class=results>
  <%unless @current_user%>
      <tr>
        <th>Кандидат</th>
        <th>Кількість голосів</th>
      </tr>
      <% @candidates.each do |candidate| %>
        <tr>
          <td><%=candidate.name + " " + candidate.surname %></td>
          <td><%=candidate.results.count %></td>
        </tr>
      <% end %>
  <%end%>

  <%if @current_user%>
    <tr>
      <th></th>
      <th>id</th>
      <th>Кандидат</th>
      <th>IP</th>
      <th>Дата і час</th>
    </tr>
    <% @results.each do |result| %>
      <tr>
        <td rowspan= <%=result.candidates.count+1%> ><%= link_to 'Destroy', result, :confirm => 'Are you sure?', :method => :delete %></td>
        <td rowspan=<%=result.candidates.count+1%> > <%= result.id%></td>
      </tr>
      <%result.candidates.each do |candidate| %>
        <tr>
          <td><%=candidate.name + " " + candidate.surname %></td>
          <td><%=result.ip_address%></td>
          <td><%=result.created_at.strftime("%d.%m.%Y %H:%M")%> </td>
        </tr>
      <%end%>
    <%end%>
  <%end%>

</table>
<br/>
