<%=link_to "Logout", :logout%>

<h1>Listing candidates</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @candidates.each do |candidate| %>
  <tr>
    <td><%= candidate.name %> <%= candidate.surname %></td>
    <td><%= link_to 'Show', candidate %></td>
    <td><%= link_to 'Edit', edit_candidate_path(candidate) %></td>
    <td><%= link_to 'Destroy', candidate, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Candidate', new_candidate_path %>
<%= link_to 'Roles', roles_path %>
<%= link_to 'Users', users_path %>
